root = true             # 表示 .editorconfig 是否生效
[*]                     # 匹配的文件类型
#  [*.{js,jsx,ts,tsx,vue}]  表示只对 js.jsx.ts.tsx.vue后缀的文件生效
charset = utf-8         # 字符集
end_of_line = lf        #换行符lf
tab_width = 4           # tab为4个空格
indent_style = tabs     # 可选 space
indent_size = 4         # 缩进大小4个空格
insert_final_newline = true     # 是否在文件的最后插入一个空行
trim_trailing_whitespace = true # 是否删除行尾的空格
